#app2 > div {
    border: solid black 1px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

img {
    width: 70px;
    margin: 10px;
    border-radius: 5px;
}